<%= form_for @company do |f| %>

    <% if @company.errors.any? %>
        <p><%= pluralize(@company.errors.count, 'Error') %></p>
        <% @company.errors.full_messages.each do |error| %>
            <p><%= error %></p>
        <% end %>
    <% end %>

    <div class="row">
        <div class="col-md-12">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
        </div>
    </div>

    <% if @zones.count > 0 %>
        <br>
        <div class="row">
            <div class="col-md-12">
                <%= f.label :zones %>
                <br>
                <%=  collection_check_boxes(:company, :zone_ids, Zone.all, :id, :name)  do |checkbox|%>
                   <%= checkbox.check_box %> <%= checkbox.label %><br>
                <% end %>
            </div>
        </div>
    <% end %>

    <br>
    <%= f.submit class: 'btn btn-success', value: 'Save Company'  %>

<%end%>
