<div class="row">
    <div class="col-md-12">
        <h2 >
            Companies
            <div class="pull-right">
                <%= link_to new_company_path do %>
                    <div class="btn btn-sm btn-success">
                        <i class="glyphicon glyphicon-plus"></i> Add New Company
                    </div>
                <% end %>
            </div>
        </h2>

        <% if @companies.count > 0 %>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr> 
                    <th class="col-md-3">Company</th> 
                    <th class="col-md-8">Zones</th>
                    <th class="col-md-1">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <% @companies.each do |company| %>
                        <tr>
                            <td><%= company.name %></td>
                            <td><%= company.zone_listing %></td>
                            <td>
                                <%= link_to edit_company_path(company) do %>
                                    <div class="btn btn-xs btn-primary">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </div>
                                <% end %>

                                <%= link_to company_path(company), method: :delete do %>
                                    <div class="btn btn-xs btn-danger">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </div>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
              </table>
            <div>
        <% else %>
            No Companies Created!
        <% end %>

    </div>
</div>