<%= form_for @zone do |f| %>

    <% if @zone.errors.any? %>
        <p><%= pluralize(@zone.errors.count, 'Error') %></p>
        <% @zone.errors.full_messages.each do |error| %>
            <p><%= error %></p>
        <% end %>
    <% end %>

    <div class="row">
        <div class="col-md-6">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="col-md-6">
            <%= f.label :color %>
            <%= f.text_field :color, class: 'form-control', placeholder: '#cccccc' %>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <%= f.label :all_access %>
            <%= f.check_box :all_access %>
        </div>
    </div>
    <br>
    <%= f.submit class: 'btn btn-success', value: 'Save Zone'  %>

<%end%>