<div class="row">
    <div class="col-md-12">
        <h2 >
            Zones
            <div class="pull-right">
                <%= link_to new_zone_path do %>
                    <div class="btn btn-sm btn-success">
                        <i class="glyphicon glyphicon-plus"></i> Add New Zone
                    </div>
                <% end %>
            </div>
        </h2>

        <% if @zones.count > 0 %>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr> 
                    <th class="col-md-3">Zone</th> 
                    <th class="col-md-4">Color</th>
                    <th class="col-md-4">All Access</th>
                    <th class="col-md-1">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <% @zones.each do |zone| %>
                        <tr>
                            <td><%= zone.name %></td>
                            <td><%= zone.color %></td>
                            <td>
                                <% if zone.all_access %>
                                    <span class="badge badge-success"><i class="glyphicon glyphicon-check"></i></span>
                                <% end %>
                            </td>
                            <td>
                                <%= link_to edit_zone_path(zone) do %>
                                    <div class="btn btn-xs btn-primary">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </div>
                                <% end %>

                                <%= link_to zone_path(zone), method: :delete do %>
                                    <div class="btn btn-xs btn-danger">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </div>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
              </table>
            <div>
        <% else %>
            No Zones Created
        <% end %>

    </div>
</div>